.git
.github
.venv
.uv-cache
.ruff_cache
.mypy_cache
.pytest_cache
node_modules
Open-LLM-VTuber-Web/node_modules
Open-LLM-VTuber-Web/out
Open-LLM-VTuber-Web/dist
logs
cache
chat_history
*.log
*.wav
*.mp3
*.pem
*.key
.DS_Store
mmposeclone
mediapipe-avatar
environment-editor
docs
doc
examples
models
Open-LLM-VTuber-Web/.git
Open-LLM-VTuber-Web/src/renderer/public
Open-LLM-VTuber-Web/dist-electron
